<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MusiMet</title>
    <link rel="icon" type="image/x-icon" href="../../Content/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../../Content/css/Page.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
    <meta charset="utf-8" />
</head>
<body>
    <div id="musimet_home">
        <h1 class="musimet_titulo">MusiMet Heavy Metal</h1>
    </div>
    <figure>
        <img src="../../Content/images/bannerheavymetal.jpg" />
        <figcaption>Heavy Metal</figcaption>
    </figure>
    <nav id="menu_navigation">
        <h1>Criado por: Diogo Felipe.</h1>
        <p>
            Twitter: <a href="https://twitter.com/diogofelss">@diogofelss</a>
        </p>
        <aside>
            <ul>
                <li>Home</li>
                <li>Gêneros</li>
                <li>Bandas</li>
                <li>Loja</li>
            </ul>
        </aside>
    </nav>
    <main>
        <h2 class="musimet_subtitulo">O que é metal?</h2>
        <p>Heavy metal (ou simplesmente metal) é um gênero do rock que se desenvolveu no final da década de 1960 e no início da década de 1970, em grande parte no Reino Unido e nos Estados Unidos. Tendo como raízes o blues-rock e o rock psicodélico (psicadélico, em português europeu), as bandas que criaram o heavy metal desenvolveram um som massivo e encorpado, caracterizado por um timbre saturado e distorcido dos amplificadores, pelas cordas graves da guitarra para a criação de riffs e pela exploração de sonoridades em tons menores, dando um ar sombrio às composições. O Allmusic afirma que "de todos os formatos do rock 'n' roll, o heavy metal é a forma mais extrema em termos de volume e teatralidade".</p>
        <p>
            As primeiras bandas de heavy metal como <em>Led Zeppelin</em>, <em>Deep Purple</em> e <em>Black Sabbath</em> atraíram um grande público, apesar de muitas vezes serem desdenhadas pelos críticos, um fato comum em toda a história do gênero. Em meados dos anos 1970, o Judas Priest ajudou a impulsionar a evolução do gênero suprimindo muito da influência do blues existente; o <em>Motörhead</em> introduziu a sensibilidade do punk rock e uma ênfase crescente na velocidade. Bandas do New Wave of British Heavy Metal como Iron Maiden e Saxon seguiram o mesmo caminho. Antes do fim da década, os fãs de heavy metal vieram a ser conhecidos mundialmente como "metalheads", "headbangers", ou "metaleiros" (no Brasil).
        </p>
        <p>
            Durante os anos 1980, o glam metal tornou-se uma força comercial com grupos como<em>Mötley Crüe</em> e <em>Poison</em>. O underground produziu cenas mais extremas e estilos agressivos: o thrash metal invadiu o mainstream trazendo à luz bandas como <em>Anthrax</em>, <em>Megadeth</em>, <em>Metallica</em> e <em>Slayer</em>, enquanto outros estilos ainda mais pesados como o death metal e o black metal permaneceram como fenômenos da subcultura do metal. Desde meados da década de 1990, estilos populares como o groove metal (ex.: Pantera) que combina metal extremo com hardcore punk, e o nu metal (ex.: Korn), que incorpora elementos de grunge e hip hop, ajudaram a ampliar a definição do gênero.
        </p>
        <blockquote>
            <p>"I like smoke and lightning</p>
            <p>Heavy metal thunder</p>
            <p>Racin' with the wind</p>
            <p>And the feeling that I'm under"</p>
            <cite>Primeira vez em que a expressão 'Heavy Metal' foi utilizada foi na música 'Born to be wild' da banda 'Steppenwolf'</cite>
        </blockquote>
        <h2 class="musimet_subtitulo">Quais são as características?</h2>
        <p>O heavy metal se caracteriza tradicionalmente por guitarras altas e distorcidas, ritmos enfáticos, um som de baixo-e-bateria denso e vocais vigorosos. Os subgêneros do metal tradicionalmente enfatizam, alteram ou omitem um ou mais destes atributos. Segundo o crítico do New York Times Jon Pareles, "na taxonomia da música popular, o heavy metal é a principal subespécie do hard rock — o tipo com menos síncope, menos blues, com mais ênfase no espetáculo e mais força bruta." A típica formação da banda inclui um baterista, um baixista, um guitarrista base, um guitarrista solo e um cantor, que pode ou não também tocar algum dos instrumentos. Teclados são por vezes usados para enriquecer o corpo do som; as primeiras bandas de heavy metal costumavam usar um órgão Hammond, enquanto sintetizadores se tornaram mais comuns posteriormente.</p>
        <h2 class="musimet_subtitulo">Principais subgêneros</h2>
        <ul>
            <li>Thrash Metal</li>
            <li>Power Metal</li>
            <li>Death Metal</li>
            <li>Metal Progressivo</li>
            <li>Doom Metal</li>
            <li>Black Metal</li>
        </ul>
    </main>
    <footer>Data do texto: <time datetime="2017-04-04">04 de abril de 2017</time></footer>
    <footer>&copy; Texto original: <a href="https://pt.wikipedia.org/wiki/Heavy_metal">Wikipedia.org</a></footer>
</body>
</html>
