body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro
}

h1 {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
    padding: 30px;
    margin-top: 0px;
}

aside {
    background-color: black;
    color: #F2FFFC;
}


#musimet_home {
    text-align: center;
    background-color: black;
    color: gainsboro;
}

.musimet_titulo {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

.musimet_subtitulo {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

p {
    font-family: 'Crimson Text', 'Times new roman', serif;
    text-align: justify;
}

main ul li{
    font-family: 'Crimson Text', 'Times new roman', serif;
}

blockquote {
    background-color: #D9E5E3;
    font-family: 'Crimson Text', 'Times new roman', serif;
    font-size: 14px;
    padding: 20px;
    border: 10px black solid;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: #000;
    color: #F2FFFC;
    font-family: 'Crimson Text', 'Times new roman', serif;
    font-size: 13px;
}