<<<<<<< HEAD
﻿body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro
}

#musimet_home {
    text-align: center;
    background-color: black;
    color: gainsboro;
}

.musimet_titulo {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

.musimet_subtitulo {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

h1 {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;  
}

p {
    font-family: 'Crimson Text', 'Times new roman', serif;
    text-align: justify;
}

main ul li{
    font-family: 'Crimson Text', 'Times new roman', serif;
}

footer {
    background-color: #000;
    color: #F2FFFC;
    font-family: 'Crimson Text', 'Times new roman', serif;
    font-size: 13px;
}

blockquote {
    background-color: #D9E5E3;
    font-family: 'Crimson Text', 'Times new roman', serif;
    font-size: 14px;
=======
﻿body{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:black;
    color:#FFF8FF;
}

h1{
    background-color:#666666;
    color:#FFF8FF;
    font-family:'Open Sans Condensed', 'Times New Roman', serif;
    text-align:center;
}

h2{
    font-family:'Open Sans Condensed', 'Times New Roman', serif;
}

#musimetsubmenu p{
    text-justify:trim;
    font-family:'Crimson Text', 'Times New Roman', serif;
    font-size:14px;
    text-align:justify;
}

#musimetsubmenu ul{
    text-justify:trim;
    font-family:'Crimson Text', 'Times New Roman', serif;
    font-size:14px;
    text-align:justify;
>>>>>>> origin/master
}